@use 'sass:map';

$fontSize: 0.9rem;
$fontColour: #333;

$tableFontColour: $fontColour;

$tableHeaderFontSize: $fontSize;
$tableHeaderFontColour: $tableFontColour;
$tableCellFontSize: $fontSize;
$tableCellFontColour: $tableFontColour;

$breakpoints: (
  //320
  'sm': 20rem,
  //768
  'md': 48rem,
  //1024
  'lg': 64rem,
  //1280
  'xl': 80rem,
  //1400
  'xxl': 90rem
) !default;

/*
 * Usage:
 *   @use 'mixins';
 *   @include breakpoint('md'){
 *     .css-class { do: something; }
 *   }
 * or:
 *   @include breakpoint('md', '<min-width | max-width>'){
 *     .css-class { do: something; }
 *   }
 */
@mixin breakpoint($breakpoint, $range: 'min-width') {
  @if map.has-key($breakpoints, $breakpoint) {
    $value: map.get($breakpoints, $breakpoint);

    @if $range == 'max-width' {
      // remove 1px if using max-width to prevent overlap with min-width
      $value: $value - 0.06rem;
    }

    @media ($range: $value) {
      @content;
    }
  } @else {
    @warn 'Unable to find `#{$breakpoint}` breakpoint.';
  }
}
