.row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.rowFull {
  width: 100%;
}
.columnFull {
  width: 100%;
  padding-right: 1rem;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
}

.options,
.optionsRow {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: 200px;
  & .preview,
  & .target,
  & .zoom,
  & .scale,
  & .flip,
  & .aspectRatio,
  & .dragMode,
  & .controlCropper,
  & .rotate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    & p {
      display: inline-block;
      font-size: 0.8rem;
      padding-left: 1rem;
    }
    & label {
      font-size: 0.8rem;

      & + label {
        margin-left: 0.25rem;
      }
    }
    & .optWrapper {
      display: inline-block;
      padding-right: 1rem;
    }
  }

  & .aspectRatio,
  & .preview {
    flex-direction: column;
    align-items: flex-start;
    & p {
      font-size: 0.8rem;
      padding-left: 1rem;
    }
    & .optWrapper {
      padding-left: 1rem;
    }
  }

  & .preview {
    flex-direction: row;

    & p {
      margin-top: 0;
    }
    & .previewImage {
      display: inline-block;
      width: 100px;
      height: 100px;
      overflow: hidden;
    }
  }
}
.rowWPreview {
  margin-bottom: 0.25rem;

  & .optionsRow {
    flex-direction: row;
    justify-content: left;
    width: 100%;
    margin-right: 0;

    & .preview {
      border-bottom: none;
     & .optWrapper {
        padding-right: 1rem;
      }
      & p {
        padding-left: 0;
      }
    }
  }
}
.imageDisplay {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 0.2rem;
  border: 2px dashed #ccc;

  & .image-box {
      position: relative;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      aspect-ratio: auto;
      width: 100px;
      height: 100px;
  }
}

.optionBtn,
.optionBtnSqr {
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
  background: #ccc;
  transition: all 0.2s ease-in-out;
  &:hover,
  &.selected {
    background: #ccc;
  }
}
.optionBtnSqr {
  width: 3rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  height: 2rem !important;
  font-size: 0.9rem !important;
  border-radius: 0.5rem !important;
}

.rotate-icon {
  transform: rotate(-90deg);
}

.image-container {
  max-height: 50vh;
  width: 100%;
  overflow: hidden;
  border: 1px solid #f0f;
}
