
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  &.result-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.info-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    b {
      margin-right: 0.5rem;
    }
  }
  &.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;

    form {
      display: flex;
      align-items: center;

      label {
        margin-right: 0.5rem;
        b {
          margin-right: 0.5rem;
        }
        & + label {
          margin-left: 0.5rem;
        }
      }
    }
  }
}