<app-feedback />
@if (id === -1) {
  <h1>Add Recipe</h1>
  @if (!showImportField()) {
    <button matIconButton type="button" (click)="showImport()">
      <mat-icon fontSet="material-icons-outlined">note_add</mat-icon>
    </button>
  }
} @else {
  <h1>Amend Recipe</h1>
}
@if (signalService.recipe()) {
  @if (id === -1 && showImportField()) {
    <app-import-recipe (recipeImport)="importedRecipe($event)" />
  }
  <form>
    <mat-tab-group>
      <mat-tab label="Details">
        <div class="tab-form">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Title</mat-label>
            <input matInput type="text" [formField]="recipeForm.title" />
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Description</mat-label>
            <textarea matInput rows="5" [formField]="recipeForm.description"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Image</mat-label>
            <input matInput style="display: none" type="text" />

            <div class="image-select">
              <div class="image-preview-container">
                @if (recipeForm.img_url().value() !== '') {
                  <div
                    class="image-preview"
                    style="background-image: url('{{ imgUrl }}{{ recipeForm.img_url().value() }}')"></div>
                }
              </div>

              <div class="image-select-options">
                <app-image-select [formField]="recipeForm.img_url" (fieldChange)="imageSelected($event)" />
                <app-image-upload [variant]="'icon'" (fileUploaded)="imageSelected($event)" />
              </div>
            </div>
          </mat-form-field>
          <div class="row-form">
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Prep time</mat-label>
              <input matInput type="number" [formField]="recipeForm.prep_time" />
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Cook time</mat-label>
              <input matInput type="number" [formField]="recipeForm.cook_time" />
            </mat-form-field>
            <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Serves</mat-label>
              <input matInput type="number" [formField]="recipeForm.serves" />
            </mat-form-field>
          </div>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Categories:</mat-label>
            <mat-chip-grid>
              @for (recipe_tag of recipeForm.tags; track recipe_tag; let i = $index) {
                <app-recipe-tag-amend
                  [tag]="recipe_tag"
                  (recipeTagChange)="tagUpdate($event, i)"
                  (recipeTagRemove)="removeTag(i)" />
              }
              <button matIconButton type="button" (click)="addTag()">
                <mat-icon fontSet="material-icons-outlined">add_circle_outlined</mat-icon>
              </button>
            </mat-chip-grid></mat-form-field
          >
        </div>
      </mat-tab>
      <mat-tab label="Ingredients">
        <div class="tab-form">
          <div cdkDropList class="drag-list" (cdkDropListDropped)="dropIngredient($event)">
            @for (recipe_ingredient of recipeForm.ingredients; track recipe_ingredient; let i = $index) {
              <div cdkDrag class="drag-box">
                <div *cdkDragPlaceholder class="drag-placeholder"></div>
                <app-ingredient-amend
                  [ingredient]="recipe_ingredient"
                  (ingredientChange)="ingredientUpdate($event, i)" />
                <button matIconButton type="button" (click)="removeIngredient(i)">
                  <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
                </button>
              </div>
            } @empty {
              <p>There are no ingredients</p>
            }
          </div>
          <button matIconButton type="button" (click)="addIngredient()">
            <mat-icon fontSet="material-icons-outlined">add_circle_outlined</mat-icon>
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Steps">
        <div class="tab-form">
          <div cdkDropList class="drag-list" (cdkDropListDropped)="dropStep($event)">
            @for (stepItem of recipeForm.steps; track stepItem; let i = $index) {
              <div cdkDrag class="drag-box">
                <div *cdkDragPlaceholder class="drag-placeholder"></div>
                <app-step-amend [step]="stepItem" (stepChange)="stepUpdate($event, i)" />
                <button matIconButton type="button" (click)="removeStep(i)">
                  <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
                </button>
              </div>
            } @empty {
              <p>There are no steps</p>
            }
          </div>
          <button matIconButton type="button" (click)="addStep()">
            <mat-icon fontSet="material-icons-outlined">add_circle_outlined</mat-icon>
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Extra">
        <div class="tab-form">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Notes</mat-label><textarea matInput rows="5" [formField]="recipeForm.notes"></textarea>
          </mat-form-field>
        </div>
      </mat-tab>
    </mat-tab-group>
  </form>

  <div class="row">
    <button matButton="filled" type="button" [disabled]="!enableSave()" (click)="save()">Save</button>
    <button matButton="filled" type="button" (click)="back()">Back</button>
  </div>
} @else {
  <div class="row">
    <p>No recipe found</p>
  </div>
  <div class="row">
    <button matButton="filled" type="button" (click)="back()">Back</button>
  </div>
}
