.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
form {
  margin-bottom: 1rem;
}
label {
  margin: 0.25rem 0.5rem 0.25rem 0;
  width: auto;
  display: block;

  & b {
    display: inline-block;
    width: 6rem;
  }
}
input {
  margin-right: 0.5rem;

  &[type='number'] {
    width: 2rem;
  }
  &[type='text'] {
    width: 15rem;
  }
  &[type='checkbox'] {
    margin-left: 0px;
  }
}
.file-input {
  display: none;
}
mat-chip-grid {
  margin-left: 6rem;
  & + button {
    margin-left: 6rem;
  }
}

app-recipe-tag-amend {
  display: inline-block;
  margin-right: 0.5rem;
}
button {
  display: inline-block;
  margin-right: 0.5rem;
}
.drag-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  margin-left: 6rem;

  & + button {
    margin-left: 6rem;
  }
}
.drag-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  &:last-child {
    border: none;
  }
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.image-select {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .image-preview-container {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-right: 1rem;
    border: 1px solid #ccc;
    width: 9rem;
    height: 9rem;
    align-items: center;
    .image-preview {
      position: relative;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      aspect-ratio: auto;
      width: 9rem;
      height: 100%;
    }
  }

  .image-select-options {
    display: flex;
    flex-direction: row;
    align-items: center;

    app-image-select {
      margin-right: 1rem;
    }
  }
}
.label-textarea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
textarea {
  width: 21rem;
}
