.modalOpen {
  display: block;
}

.modalClose {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  animation-name: zoom;
  animation-duration: 0.6s;
}

.modal-container,
#caption {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}

.modal-content,
#caption {
  flex-direction: row;
  border-radius: 0;
}

#caption {
  color: #fff;
  margin-top: 0.5rem;
  padding: 1rem;
  width: 100%;
}

.modal-content {
  max-height: 50vh;
  border: #bbb solid 1px;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  display: inline-flex;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  transition: 0.3s;
  line-height: unset;
  border-radius: 0.5rem;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
