label {
  margin: 0.25rem 0.5rem 0.25rem 0;
  width: auto;
  display: block;
  & b {
    display: inline-block;
    width: 6rem;
  }
}
input {
  margin-right: 0.5rem;

  &[type='number'] {
    width: 2rem;
  }
  &[type='text'] {
    width: 15rem;
  }
  &[type='checkbox'] {
    margin-left: 0px;
  }
}
