.file-upload-container-margin {
  margin-left: 1rem;
}

.file-upload-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* Hide the default file input */
  .file-input {
    display: none;
  }

  /* Progress container */
  .progress-container {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .progress-bar {
      width: 10rem;
    }
    .progress-text {
      margin-left: 1rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}
