h1 {
  display: inline-block;
}
h2 {
  text-transform: capitalize;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.options {
  justify-content: center;
}

.file-download-container, .file-upload-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.file-download-container {
    margin-right: 1rem;
}
.file-upload-container {
  margin-left: 1rem;
  /* Hide the default file input */
  .file-input {
    display: none;
  }

  /* Progress container */
  .progress-container {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    .progress-bar {
      width: 10rem;
    }
    .progress-text {
      margin-left: 1rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
}