h1 {
  display: inline-block;
}
h1 + a {
  margin-left: 1rem;
}
h2 {
  text-transform: capitalize;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.options {
  justify-content: center;
}
button + button {
  margin-left: 2rem;
}