h1 {
  display: inline-block;
}
h1 + a {
  margin-left: 1rem;
}
h2 {
  text-transform: capitalize;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  &.result-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.info-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    b {
      margin-right: 0.5rem;
    }
  }
  &.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;

    form {
      display: flex;
      align-items: center;

      label {
        margin-right: 0.5rem;
        b {
          margin-right: 0.5rem;
        }
        & + label {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;

  .recipe {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 20rem;
    height: 16rem;
    overflow: hidden;

    a {
      text-decoration: none;
    }
    .recipe-img {
      position: relative;
      background-size: cover;
      display: block;
      aspect-ratio: auto;
      width: 100%;
      height: 12rem;
      border-bottom: 1px solid #ccc;
      background-color: #eee;
    }
    .recipe-amend {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: beige;
      padding: 0.5rem;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom-left-radius: 0.5rem;
    }
    .recipe-name {
      align-self: center;
      font-size: 1.3em;
      padding: 0 1rem;
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: var(--mat-sys-on-surface);
        font-weight: 600;
      }
    }
  }
}
@media only screen and (min-width: 1281px) {
  .column {
    .recipe {
      width: 25rem;
      height: 20rem;
      .recipe-img {
        height: 15rem;
      }
    }
  }
}

.mat-mdc-paginator {
  .mat-mdc-paginator-outer-container {
    .mat-mdc-paginator-container {
      padding: 0;
      .mat-mdc-paginator-page-size-label {
        margin-left: 0;
      }
    }
  }
}
