<div class="row">
  <h1>Recipes</h1>
  @if (signalService.editEnabled()) {
  <button matButton="tonal" type="button" (click)="add()">Add</button>
  }
</div>
<app-search-bar />
<div class="row">
  <div class="column">
    <mat-paginator aria-label="Select page" [length]="signalService.recipesFound()"
      [pageIndex]="signalService.pageIndex()" [pageSize]="signalService.pageSize()"
      [pageSizeOptions]="signalService.pageSizeOptions" (page)="onPageChange($event)" />
  </div>
</div>
<div class="row">
  @if (signalService.recipeList()) {
  <div class="column">

    @for (recipe of resultsPage(); track recipe.id) {
    <div class="recipe">
      <a [routerLink]="['/recipe', recipe.id]">
        @if (recipe.img_url !== '') {
        <div class="recipe-img" style="background-image: url('{{icon(recipe.img_url)}}')"></div>
        }
        @else {
        <div class="recipe-img recipe-img-blank"></div>
        }
      </a>
      @if (signalService.editEnabled()) {
      <div class="recipe-amend">
        <button matIconButton type="button" (click)="amend(recipe.id)"><mat-icon>edit</mat-icon></button>
        <button matIconButton type="button" (click)="delete(recipe.id)"><mat-icon
            fontSet="material-icons-outlined">delete</mat-icon></button>
      </div>
      }
      <div class="recipe-name"><a [routerLink]="['/recipe', recipe.id]">{{ recipe.title }}</a></div>

    </div>
    }
  </div>
  }
  @else {
  <p>No recipes found</p>
  }
</div>
<div class="row">
  <div class="column">
    <mat-paginator aria-label="Select page" [length]="signalService.recipesFound()"
      [pageIndex]="signalService.pageIndex()" [pageSize]="signalService.pageSize()"
      [pageSizeOptions]="signalService.pageSizeOptions" (page)="onPageChange($event)" />
  </div>
</div>
<div class="row">
  <button matButton="filled" type="button" (click)="back()">Back</button>
</div>