.banner {
  position: relative;
  background-size: cover;
  display: block;
  aspect-ratio: auto;
  height: 45vh;
  margin-bottom: 1rem;
}

.entry {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
