<app-feedback />
<div class="row">
  <h1>Available Images</h1>
  @if (signalService.editEnabled()) {
    <app-image-upload [variant]="'text'" />
  }
</div>

<div class="row">
  @if (fileService.imageList()) {
    <div class="column">
      @for (image of fileService.imageList() | sortArrays:'image':'asc'; track image; let i = $index ) {
        <div class="recipe-image">
          <div class="image-box" style="background-image: url('{{ imgURL }}{{ image }}')"></div>
            @if (signalService.editEnabled()) {
              <div class="image-amend">
                <button matIconButton type="button" (click)="delete(image)"><mat-icon fontSet="material-icons-outlined">delete</mat-icon></button>
              </div>
            }
          <div class="image-name">{{ image }}</div>
        </div>
      }
    </div>
  }
  @else {
    <p>No categories found</p>
  }</div>
<div class="row">
  <button matButton="filled" type="button" (click)="back()">Back</button>
</div>