<app-feedback />
<div class="row">
  <h1>Available Images</h1>
  @if (signalService.hasPermission('image.upload')) {
  <app-image-upload [variant]="'text'" />
  }
</div>

<div class="row">
  @if (fileService.imageList()) {
  <div class="column">
    @for (image of fileService.imageList() | sortArrays:'image':'asc'; track image; let i = $index ) {
    <div class="recipe-image">
      <button class="image-box" type="button" (click)="openModal(image, 'original')">
        <img alt="{{ image }}" height="112" width="320" [ngSrc]="imgURL + image" />
      </button>
      @if (signalService.hasAnyPermission(['image.update', 'image.delete'])) {
      <div class="image-amend">
        @if (signalService.hasPermission('image.update')) {
        <button matIconButton type="button" (click)="amend(image)"><mat-icon>edit</mat-icon></button>
        }
        @if (signalService.hasPermission('image.delete')) {
        <button matIconButton type="button" (click)="delete(image)"><mat-icon
            fontSet="material-icons-outlined">delete</mat-icon></button>
        }
      </div>
      }
      <div class="row image-box-row ">
        <button class="image-box-alt" type="button" (click)="openModal(image, 'icon')">
          <img alt="{{ image }} Icon" height="64" width="140" [ngSrc]="imgURL + altImage(image, 'icon')" />
          <div class="image-label">Icon</div>
        </button>
        <button class="image-box-alt" type="button" (click)="openModal(image, 'banner')">
          <img alt="{{ image }} Banner" height="64" width="140" [ngSrc]="imgURL + altImage(image, 'banner')" />
          <div class="image-label">Banner</div>
        </button>
      </div>
      <div class="image-name">{{ image | truncate:30 }}</div>
    </div>
    }
  </div>
  <app-image-viewer [(caption)]="imageModal.caption" [(imgSrc)]="imageModal.src" [(imgView)]="imageModal.open" />
  }
  @else {
  <p>No images found</p>
  }
</div>
<div class="row">
  <button matButton="filled" type="button" (click)="back()">Back</button>
</div>
