h1 {
  display: inline-block;
}
h2 {
  text-transform: capitalize;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;

  .recipe-image {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 20rem;
    height: 15rem;
    overflow: hidden;
    align-items: center;

    .image-box {
      position: relative;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      aspect-ratio: auto;
      width: 100%;
      height: 9rem;
    }
    .image-amend {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: beige;
      padding: 0.5rem;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-bottom-left-radius: 0.5rem;
    }
    .image-name {
      align-self: center;
      font-size: 1em;
      margin-bottom: 1rem;
      margin-left: 1rem;
      margin-right: 1rem;

      a {
        text-decoration: none;
        color: var(--mat-sys-on-surface);
        font-weight: 600;
      }
    }
  }
}
