h1 {
  display: inline-block;
}
h1 + a {
  margin-left: 1rem;
}
h2 {
  text-transform: capitalize;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row__top {
  align-items: flex-start;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;

  ul {
    margin-left: 0;
    padding-left: 1rem;
  }
}
